@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(87, 87, 214, 0.89);
}

html,body{
    width: 100vw;
    height: 100vh;
}

div{
    position: absolute;
    left: 0%;
    top: 3%;
    width: 20vw;
    height: 50px;
    text-align: left;
}

main{
    position: relative;
    height: 100vh;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

section#cel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 627px;
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

section#icones{
    text-align: right;
}

section#icones img{
    width: 100px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404); 
    box-sizing: border-box; 
}

section#icones img:hover{
    border: 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
    transform: translate(-3px, -3px);
    transition: 0.5s;
}
